@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,100;0,300;1,600&family=Mulish:ital,wght@0,200;0,300;1,200;1,400&display=swap');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css') */

*  {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height:  100vh;
    overflow: hidden;
    object-fit: cover;
    animation: img-zoom 5s;
}
@keyframes img-zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 20%;
}

.banner h1 {
    color: #fff;
    font-size: 3.5rem;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 300;
    text-shadow: .3rem .4rem .2rem rgba(0, 0, 0, 0.4);
    margin-bottom: 1rem;
    opacity: 0;
    animation: bannerMove 1s 0.5s forwards;
}
@keyframes bannerMove {
    0%{
        transform: translateX(5rem) rotateX(-30deg);
    }
    100%{
        transform: translateX(0) rotateX(0);
        opacity: 1;
    }
}

.banner h3 {
    font-family: 'Josefin Slab', serif;
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: bannerMove 1s 0.7s forwards;
}

.botao {
    font-family: 'Mulish', sans-serif;
    color: rgb(216, 187, 211);
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    animation: bannerMove 1s 0.9s forwards;
}