@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,100;0,300;1,600&family=Mulish:ital,wght@0,200;0,300;1,200;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.css');

*  {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

.hamburguer{
    width: 2rem;
    height: 2rem;
    z-index: 100;
    position: fixed;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 1s;
}

.show-menu.hamburguer{
    right: 16rem;
}

.line{
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px black;
    transition: transform 1s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .45rem);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.40rem);
}

.hamburguer span {
    position: absolute;
    left: 3rem;
    width: 6rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ad5389;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #ad5389;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu.hamburguer:hover span{
    opacity: 1;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height:  100vh;
    overflow: hidden;
    object-fit: cover;
    animation: img-zoom 5s;
}
@keyframes img-zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 20%;
}

.banner h1 {
    color: #fff;
    font-size: 3.5rem;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 300;
    text-shadow: .3rem .4rem .2rem rgba(0, 0, 0, 0.4);
    margin-bottom: 1rem;
    opacity: 0;
    animation: bannerMove 1s 0.5s forwards;
}
@keyframes bannerMove {
    0%{
        transform: translateX(5rem) rotateX(-30deg);
    }
    100%{
        transform: translateX(0) rotateX(0);
        opacity: 1;
    }
}

.banner h3 {
    font-family: 'Josefin Slab', serif;
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: bannerMove 1s 0.7s forwards;
}

.botao {
    font-family: 'Mulish', sans-serif;
    color: rgb(216, 187, 211);
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    animation: bannerMove 1s 0.9s forwards;
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}

.show-menu.sidebar{
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    color: #555;
    transition: color 1s;
}

.menu-link:hover {
    color: #3a152b;
}

/* Sessão conhecimentos */

.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;
}
.conhecimento:nth-child(1){
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}
.conhecimento:nth-child(2){
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}
.conhecimento:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 5 / -1;   
}
.conhecimento:nth-child(4){
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}
.conhecimento:nth-child(5){
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}
.conhecimento:nth-child(6){
    grid-column: 11 / 14;
    grid-row: 5 / -1;
}
.sessao-conhecimentos {
    background-color: #f5f5f5;
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sessao-header h1 {
    font-family: 'Baloo 2', sans-serif;
    font-size: 3rem;
    color: #555;
    border-bottom: solid 3px #3c1053;
    margin-bottom: 1.5rem;
}

.conhecimento-header {
    display: flex;
    align-items: center;
    color: #4b4b4b;
}
.conhecimento-header i {
    font-size: 2.5rem;
}
.conhecimento-header h3 {
    font-family: 'Mulish', sans-serif;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.conhecimento-text {
    font-family: 'Mulish', sans-serif;
    margin-top: 1rem;
}
.conhecimento-img {
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 100%;
}
.conhecimento-img img{
    object-fit: cover;
    width: 100%;
}

/* Sessão Projetos */
.projetos {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 20rem;
    height: 30rem;
    position: relative;
}
.card-img {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 1rem;
}
.card-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    opacity: .8;
}
.card-info {
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
    transition: all .3s;
}
.card-info h2{
    font-family: 'Baloo 2', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
}
.card-info h3 {
    font-family: 'Mulish', sans-serif;
    font-weight: bolder;
    color: #ff4081;
    margin-bottom: 1.3rem;
}
.card-info p {
    font-family: 'Mulish', sans-serif;
    color: #eee;
    font-weight: 500;
    width: 80%;
    margin-bottom: 1.5rem;
}
.card-info button {
    width: 8rem;
    height: 2.5rem;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: #eee;
    border-radius: .5rem;
    box-shadow: 0  .1rem  .8rem rgba(0, 0, 0, 0.4);
}
.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}